@charset "UTF-8";

/* Color
    ——Brown: #30130f
    ——Coral: #e15546
    ——Orange: #e28564
    ——Cream: #fef2de
    ——Cream2: #ffe2ce
    ——Pink: #f8c3bc
    ——Cherry: #bf1e2e
*/

/* #container */
#container {
    overflow: hidden;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f8c3bc+0,fef2de+50,f8c3bc+100 */
    background: rgb(248, 195, 188);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(248, 195, 188, 1) 0%, rgba(254, 242, 222, 1) 50%, rgba(248, 195, 188, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(248, 195, 188, 1) 0%, rgba(254, 242, 222, 1) 50%, rgba(248, 195, 188, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(248, 195, 188, 1) 0%, rgba(254, 242, 222, 1) 50%, rgba(248, 195, 188, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8c3bc', endColorstr='#f8c3bc', GradientType=0);
    /* IE6-9 */
}

.brand_inner {
    height: 3750px;
}

.top_text,
.text_area {
    z-index: 97;
}

.top_text {
    font-size: 20px;
    font-weight: 700;

    color: #e15546;
    text-transform: uppercase;

    /* stroke */
    text-shadow: rgb(254, 242, 222) 6px 0px 0px, rgb(254, 242, 222) 5.91686px 0.995377px 0px, rgb(254, 242, 222) 5.66974px 1.96317px 0px, rgb(254, 242, 222) 5.2655px 2.87655px 0px, rgb(254, 242, 222) 4.71532px 3.71022px 0px, rgb(254, 242, 222) 4.03447px 4.44106px 0px, rgb(254, 242, 222) 3.24181px 5.04883px 0px, rgb(254, 242, 222) 2.35931px 5.51667px 0px, rgb(254, 242, 222) 1.41143px 5.83163px 0px, rgb(254, 242, 222) 0.424423px 5.98497px 0px, rgb(254, 242, 222) -0.574341px 5.97245px 0px, rgb(254, 242, 222) -1.55719px 5.79441px 0px, rgb(254, 242, 222) -2.49688px 5.45578px 0px, rgb(254, 242, 222) -3.36738px 4.96596px 0px, rgb(254, 242, 222) -4.14455px 4.33852px 0px, rgb(254, 242, 222) -4.80686px 3.59083px 0px, rgb(254, 242, 222) -5.33596px 2.74364px 0px, rgb(254, 242, 222) -5.71718px 1.8204px 0px, rgb(254, 242, 222) -5.93995px 0.84672px 0px, rgb(254, 242, 222) -5.99811px -0.150428px 0px, rgb(254, 242, 222) -5.89004px -1.14341px 0px, rgb(254, 242, 222) -5.61874px -2.1047px 0px, rgb(254, 242, 222) -5.19172px -3.00766px 0px, rgb(254, 242, 222) -4.62082px -3.82727px 0px, rgb(254, 242, 222) -3.92186px -4.54081px 0px, rgb(254, 242, 222) -3.11421px -5.12852px 0px, rgb(254, 242, 222) -2.22026px -5.57409px 0px, rgb(254, 242, 222) -1.26477px -5.86518px 0px, rgb(254, 242, 222) -0.274238px -5.99373px 0px, rgb(254, 242, 222) 0.723898px -5.95617px 0px, rgb(254, 242, 222) 1.70197px -5.75355px 0px, rgb(254, 242, 222) 2.63288px -5.39147px 0px, rgb(254, 242, 222) 3.49082px -4.87998px 0px, rgb(254, 242, 222) 4.25202px -4.23324px 0px, rgb(254, 242, 222) 4.89538px -3.46919px 0px, rgb(254, 242, 222) 5.40307px -2.60899px 0px, rgb(254, 242, 222) 5.76102px -1.67649px 0px, rgb(254, 242, 222) 5.95932px -0.697531px 0px;
}

.bot_text {
    font-size: 60px;
    z-index: 98;

    color: #e15546;
    text-transform: uppercase;

    /* stroke */
    text-shadow: rgb(254, 242, 222) 6px 0px 0px, rgb(254, 242, 222) 5.91686px 0.995377px 0px, rgb(254, 242, 222) 5.66974px 1.96317px 0px, rgb(254, 242, 222) 5.2655px 2.87655px 0px, rgb(254, 242, 222) 4.71532px 3.71022px 0px, rgb(254, 242, 222) 4.03447px 4.44106px 0px, rgb(254, 242, 222) 3.24181px 5.04883px 0px, rgb(254, 242, 222) 2.35931px 5.51667px 0px, rgb(254, 242, 222) 1.41143px 5.83163px 0px, rgb(254, 242, 222) 0.424423px 5.98497px 0px, rgb(254, 242, 222) -0.574341px 5.97245px 0px, rgb(254, 242, 222) -1.55719px 5.79441px 0px, rgb(254, 242, 222) -2.49688px 5.45578px 0px, rgb(254, 242, 222) -3.36738px 4.96596px 0px, rgb(254, 242, 222) -4.14455px 4.33852px 0px, rgb(254, 242, 222) -4.80686px 3.59083px 0px, rgb(254, 242, 222) -5.33596px 2.74364px 0px, rgb(254, 242, 222) -5.71718px 1.8204px 0px, rgb(254, 242, 222) -5.93995px 0.84672px 0px, rgb(254, 242, 222) -5.99811px -0.150428px 0px, rgb(254, 242, 222) -5.89004px -1.14341px 0px, rgb(254, 242, 222) -5.61874px -2.1047px 0px, rgb(254, 242, 222) -5.19172px -3.00766px 0px, rgb(254, 242, 222) -4.62082px -3.82727px 0px, rgb(254, 242, 222) -3.92186px -4.54081px 0px, rgb(254, 242, 222) -3.11421px -5.12852px 0px, rgb(254, 242, 222) -2.22026px -5.57409px 0px, rgb(254, 242, 222) -1.26477px -5.86518px 0px, rgb(254, 242, 222) -0.274238px -5.99373px 0px, rgb(254, 242, 222) 0.723898px -5.95617px 0px, rgb(254, 242, 222) 1.70197px -5.75355px 0px, rgb(254, 242, 222) 2.63288px -5.39147px 0px, rgb(254, 242, 222) 3.49082px -4.87998px 0px, rgb(254, 242, 222) 4.25202px -4.23324px 0px, rgb(254, 242, 222) 4.89538px -3.46919px 0px, rgb(254, 242, 222) 5.40307px -2.60899px 0px, rgb(254, 242, 222) 5.76102px -1.67649px 0px, rgb(254, 242, 222) 5.95932px -0.697531px 0px,
        /* shadow */
        15px 12px 0px rgba(191, 30, 46, 0.24);
}

.coral_text {
    font-size: 24px;
    font-weight: 700;
    color: #e15546;
}

.coral_box {
    font-weight: 700;
    background: rgba(225, 85, 70, 0.4);
}

.exp_text {
    font-size: 18px;
    line-height: 150%;
}

.big_text {
    font-size: 24px;
}

/* .brand_title */
.brand_title .top_text {
    font-size: 32px;

    top: 107px;
    left: 50%;
    transform: translateX(-145%);
}

.brand_title .bot_text {
    font-size: 80px;

    top: 163px;
    left: 50%;
    transform: translateX(-50%);
}

/* .fresh_story */
.fresh_story .top_text {
    top: 448px;
    /* .bot_text.top - 42px */
    left: 635px;
}

.fresh_story .bot_text {
    top: 490px;
    left: 400px;
}

.fresh_story .text_area {
    text-align: right;

    width: 800px;
    top: 590px;
    left: 90px;
}

.fresh_story .coral_text {
    font-size: 32px;
}

.fresh_story .exp_text:nth-of-type(1) {
    padding: 50px 0px
}

/* .cup_customize */
.cup_customize .top_text {
    top: 1118px;
    /* .bot_text.top - 42px */
    left: 550px;
}

.cup_customize .bot_text {
    top: 1160px;
    left: 550px;
}

.cup_customize .text_area {
    text-align: left;

    width: 800px;
    top: 1240px;
    left: 550px;
}

.cup_customize .coral_text {
    font-size: 32px;
}

.cup_customize .exp_text:nth-of-type(2) {
    padding: 30px 0px
}

.cup_customize .big_text {
    padding-top: 30px;
}

/* .our_brand */
.our_brand .top_text {
    top: 1638px;
    /* .bot_text.top - 42px */
    left: 475px;
}

.our_brand .bot_text {
    top: 1680px;
    left: 330px;
}

.our_brand .text_area {
    text-align: left;

    width: 800px;
    top: 1800px;
    left: 580px;
}

.our_brand .exp_text:nth-of-type(2) {
    padding: 30px 0px;
}

.brand_logo img {
    top: 1800px;
    z-index: 99;
}

.brand_logo img:nth-last-of-type(1) {
    left: 260px;
}

.brand_logo img:nth-last-of-type(2) {
    left: 10px;
}

.brand_color {
    cursor: pointer;

    width: 25px;
    height: 25px;

    top: 1945px;
    z-index: 100;
}

.color_cream {
    box-sizing: border-box;
    background: #fef2de;
    border: 1px solid #30130f;

    left: 595px;
}

.color_pink {
    background: #f8c3bc;

    left: 710px;
}

.color_orange {
    background: #e15546;

    left: 765px;
}

.color_cherry {
    background: #bf1e2e;

    left: 815px;
}

#container .color_hover {
    display: none;
    pointer-events: none;
    font-weight: 700;

    top: 1950px;
    z-index: 101;
    transform: translateX(-25%) translateZ(0);

    text-shadow: rgb(254, 242, 222) 2px 0px 0px, rgb(254, 242, 222) 1.75517px 0.958851px 0px, rgb(254, 242, 222) 1.0806px 1.68294px 0px, rgb(254, 242, 222) 0.141474px 1.99499px 0px, rgb(254, 242, 222) -0.832294px 1.81859px 0px, rgb(254, 242, 222) -1.60229px 1.19694px 0px, rgb(254, 242, 222) -1.97998px 0.28224px 0px, rgb(254, 242, 222) -1.87291px -0.701566px 0px, rgb(254, 242, 222) -1.30729px -1.5136px 0px, rgb(254, 242, 222) -0.421592px -1.95506px 0px, rgb(254, 242, 222) 0.567324px -1.91785px 0px, rgb(254, 242, 222) 1.41734px -1.41108px 0px, rgb(254, 242, 222) 1.92034px -0.558831px 0px;
}

.hover_here {
    top: 1950px;
    left: 850px;
    opacity: 0.6;

    font-size: 9px;
}

/* .contact_us */
.contact_us .top_text {
    top: 2268px;
    /* .bot_text.top - 42px */
    left: 605px;
    /* .bot_text.top + 5px */
}

.contact_us .bot_text {
    top: 2310px;
    left: 600px;
}

.contact_us .text_area {
    text-align: left;

    width: 800px;
    top: 2390px;
    left: 600px;
}

.contact_us .exp_text:nth-of-type(2) {
    padding: 30px 0px
}

/* .come_and_see */
.come_and_see .top_text {
    top: 2888px;
    /* .bot_text.top - 42px */
    left: 405px;
}

.come_and_see .bot_text {
    top: 2930px;
    left: 120px;
}

.cas_map {
    top: 2985px;
    left: -180px;
}

.come_and_see .text_area {
    top: 3025px;
    left: 590px;
}

.come_and_see .big_text {
    line-height: 125%;
}

.come_and_see .big_text:nth-of-type(2) {
    font-size: 22px;
    padding: 80px 0px 30px;
}

/* .cup_illust */
.cup_illust:nth-of-type(1) {
    top: 260px;
    left: -40px;
}

.cup_illust:nth-of-type(2) {
    top: 500px;
    right: -100px;
}

.cup_illust:nth-of-type(3) {
    top: 840px;
    left: 65px;
}

.cup_illust:nth-of-type(4) {
    top: 1730px;
    right: -20px;
}

.cup_illust:nth-of-type(5) {
    top: 2350px;
    left: 40px;
}

.cup_illust {
    animation: float 6s ease-in-out infinite;
}

.cup_illust:nth-of-type(2n) {
    animation: float_reverse 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes float_reverse {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* svg */
path {
    fill: none;
    stroke: #e15546;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 6px;
    stroke-dasharray: 15 20;

    animation: draw 25000s linear infinite;
}

@keyframes draw {
    from {
        stroke-dashoffset: 1000000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

svg:nth-of-type(1) {
    top: 300px;
    left: 100px;
}

svg:nth-of-type(2) {
    top: 520px;
    left: 240px;

    transform: rotate(15deg) scale(0.7, 0.7);
}

svg:nth-of-type(3) {
    top: 1100px;
    left: -180px;
}

svg:nth-of-type(4) {
    top: 1660px;
    right: 200px;

    transform: rotate(25deg);
}

svg:nth-of-type(5) {
    top: 2550px;
    right: -400px;

    transform: rotate(4deg) scale(0.74, 0.74);
}
